# --- Core Libraries untuk Project Star Jump Counter ---

# Untuk model deteksi objek YOLOv8
ultralytics

# Untuk memproses gambar dan video dari webcam
opencv-python

# Library dasar untuk komputasi numerik, sering dipake bareng OpenCV
numpy

# Backend machine learning yang dipake sama YOLOv8
# Sebaiknya install torch dulu sesuai spek PC lo (CUDA atau CPU)
# Tapi untuk simpelnya, bisa langsung dari sini
torch
torchvision

# Untuk ngebantu nampilin gambar dari OpenCV ke interface (GUI)
Pillow

#WEB
Flask