# Web Framework
Flask

# Untuk deteksi objek dan model AI
ultralytics

# Untuk memproses gambar dan video (bergantung pada ultralytics)
opencv-python

# Backend machine learning (bergantung pada ultralytics)
torch
torchvision

# Untuk komputasi numerik (bergantung pada ultralytics)
numpy
